<style>
    #febs-hotelRoom .layui-form-label {
        width: 65px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-hotelRoomRoom" lay-title="房间管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="job-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">房间类型</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="roomType" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain  table-action"
                                     id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain  table-action"
                                     id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="hotelRoom:add,hotelRoom:update,hotelRoom:delete,hotelRoom:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <input type="button" id="addTable" value="点击">
                    <table lay-filter="hotelRoomTable" lay-data="{id: 'hotelRoomTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="job-status">
    {{#
    var status = {
    0: {title: '正常', color: 'green'},
    1: {title: '暂停', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge febs-bg-{{status.color}}">{{ status.title }}</span>
</script>
<script type="text/html" id="hotelRoom-option">
    <span shiro:lacksPermission="hotelRoom:update,hotelRoom:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="hotelRoom:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="generate" shiro:hasPermission="hotelRoom:room"><i
            class="layui-icon febs-edit-area febs-green">&#xe89f;</i></a>
    <a lay-event="del" shiro:hasPermission="hotelRoom:delete"><i
            class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>


</script>
<script data-th-inline="javascript">
    layui.use(['jquery','febs','form', 'table', 'dropdown', 'laydate' ], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#febs-hotelRoom'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            hotel = [[${hotel}]],
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();
        initTable();

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });


        table.on('tool(hotelRoomTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除任务', '确定删除该记录？', function () {
                    deleteJobs(data.id);
                });
            }
        });

        table.on('sort(hotelRoomTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'hotelRoomTable',
                url: ctx + 'room/list/' + hotel.id,
                cols: [[
                    {type: 'checkbox'},
                    {field: 'hotelRoomName', edit: 'text', title: '酒店名称', maxWidth: 100},
                    {field: 'hotelRoomPrincipal', edit: 'text', title: '酒店负责人', maxWidth: 80},
                    {field: 'contactPhone', edit: 'text', title: '联系方式', maxWidth: 80},
                    {field: 'receptionService', edit: 'text', title: '接待服务', maxWidth: 80},
                    {field: 'hotelRoomAddress', edit: 'text', title: '酒店地址', maxWidth: 80},
                    {field: 'metroGuidelines', edit: 'text', title: '地铁指引', maxWidth: 80},
                    {field: 'createTime', edit: 'text', title: '创建时间', minWidth: 80, sort: true},

                    {title: '操作', toolbar: '#hotelRoom-option', minWidth: 80}
                ]]
            });
        }

        function deleteJobs(hotelRoomIds) {
            febs.get(ctx + 'hotelRoom/delete/' + hotelRoomIds, null, function () {
                febs.alert.success('删除成功');
                $query.click();
            });
        }

        $("#addTable").click(function () {
            var tr = " <tr>" +
                " <td data-field='' data-type='checkbox'> <div class='layui-table-cell laytable-cell-1-checkbox'> </div></td>" +
                " <td data-field='hotelRoomName' data-edit='text'> <div class='layui-table-cell laytable-cell-1-hotelRoomName '> </div></td>" +
                " <td data-field='hotelRoomPrincipal' data-edit='text'> <div class='layui-table-cell laytable-cell-1-hotelRoomPrincipal '> </div></td>" +
                " <td data-field='contactPhone' data-edit='text'> <div class='layui-table-cell laytable-cell-1-contactPhone '> </div></td>" +
                " <td data-field='receptionService'  data-edit='text'> <div class='layui-table-cell laytable-cell-1-receptionService  '> </div></td>" +
                " <td data-field='hotelRoomAddress' data-edit='text'> <div class='layui-table-cell laytable-cell-1-hotelRoomAddress '> </div></td>" +
                " <td data-field='metroGuidelines' data-edit='text'> <div class='layui-table-cell laytable-cell-1-metroGuidelines '> </div></td>" +
                " <td data-field='createTime' data-edit='text'> <div class='layui-table-cell laytable-cell-1-createTime '> </div></td>" +
                " </tr>";
            $(".layui-table-body .layui-table tbody").append(tr);
        });

        //监听单元格编辑
        table.on('edit(hotelRoomTable)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);


        });

        function getQueryParams() {
            var params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }
    })
</script>