<style>
    #febs-hotelRoom .layui-form-label {
        width: 65px;
    }

    /* 防止下拉框的下拉列表被隐藏---必须设置--- 此样式和表格的样式有冲突 如果表格列数太多 会出现错乱的情况 目前我的解决方法是忽略下拉框的美化渲染 <select lay-ignore> */
    .layui-table-cell {
        overflow: visible;
    }

    .layui-table-box {
        overflow: visible;
    }

    .layui-table-body {
        overflow: visible;
    }

    /* 设置下拉框的高度与表格单元相同 */
    td .layui-form-select {
        margin-top: -10px;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-hotelRoom" lay-title="房间管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="job-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">费用名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="roomName" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain  table-action"
                                     id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain  table-action"
                                     id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <button type="button" class="layui-btn layui-btn-normal" id="addTable">新增</button>
                    <table lay-filter="hotelRoomTable" lay-data="{id: 'hotelRoomTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="job-status">
    {{#
    var status = {
    0: {title: '正常', color: 'green'},
    1: {title: '暂停', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge febs-bg-{{status.color}}">{{ status.title }}</span>
</script>

<script type="text/html" id="room-type">
    {{#
    var roomType = {
    1: {title: '房型', color: 'green'},
    2: {title: '餐费', color: 'volcano'},
    3: {title: '门票', color: 'blue'},
    4: {title: '其他', color: 'red'}
    }[d.roomType];
    }}
    <span class="layui-badge febs-bg-{{roomType.color}}">{{ roomType.title }}</span>
</script>


<script type="text/html" id="selectGxmc">
    {{#
    var roomType = {
    1: {value: '1',title: '房型', color: 'green'},
    2: {value: '2',title: '餐费', color: 'volcano'},
    3: {value: '3',title: '门票', color: 'blue'},
    4: {value: '4',title: '其他', color: 'red'}
    };
    }}
    <select name='roomType' lay-verify='' lay-search=''>
        {{#  layui.each(roomType, function(index, item){ }}
        {{#  if(+item.value === +d.roomType){ }}
        <option value="{{item.value}}"  selected = "selected">{{ item.title }}</option>
        {{#  }else{ }}
        <option value="{{item.value}}">{{ item.title }}</option>
        {{#  } }}
        {{#  }); }}
    </select>
</script>
<script type="text/html" id="hotelRoom-option">
    <span shiro:lacksPermission="room:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="del" shiro:hasPermission="room:delete"><i
            class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>


</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#febs-hotelRoom'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();

        var hotelId = sessionStorage.getItem('hotelId');


        initTable();

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('hotelRoomTable');
                if (name === 'add') {
                    febs.modal.open('新增酒店', 'system/hotel/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#hotel-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#hotel-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请勾选需要删除的酒店');
                    } else {
                        febs.modal.confirm('删除酒店', '确定删除所选酒店？', function () {
                            var roomIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                roomIds.push(item.id)
                            });
                            deleteJobs(roomIds.join(','))
                        });
                    }
                }


            },

        });

        table.on('tool(hotelRoomTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除任务', '确定删除该记录？', function () {
                    deleteJobs(data.id);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改酒店', 'system/hotel/update/' + data.id, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#hotel-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }

            if (layEvent === 'generate') {
                febs.modal.open('设置房间', 'system/hotel/room/' + data.id, {
                    area: $(window).width() <= 750 ? '80%' : '70%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#hotel-room').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }


            if (layEvent === 'addRoom') {
                var roomName = $("#" + hotelId + "roomName").text();
                var roomCount = $("#" + hotelId + "roomCount").text();
                var surplusNumber = $("#" + hotelId + "surplusNumber").text();
                var univalence = $("#" + hotelId + "univalence").text();
                var roomType = $("#" + hotelId + "roomType").text();


                var param = {
                    'hotelId': hotelId,
                    'roomName': roomName,
                    'roomCount': roomCount,
                    'surplusNumber': surplusNumber,
                    'univalence': univalence,
                    'roomType': roomType
                }
                $.post(ctx + 'room/add', param, function (r) {
                    if (r.code === 200) {
                        $query.click();
                    } else {
                        layer.msg(r.message);
                    }
                });
            }


        });

        table.on('sort(hotelRoomTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });


        function initTable() {
            var hotelId = sessionStorage.getItem('hotelId');
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'hotelRoomTable',
                url: ctx + 'room/list/' + hotelId,
                cols: [[
                    {type: 'checkbox'},
                    {field: 'roomName', edit: 'text', title: '名称', maxWidth: 100},
                    {title: '类型', templet: '#selectGxmc', maxWidth: 50},
                    {field: 'univalence', edit: 'text', title: '单价', maxWidth: 80},
                    {field: 'roomCount', edit: 'text', title: '房间数量', maxWidth: 80},
                    {field: 'surplusNumber', edit: 'text', title: '剩余数量', maxWidth: 80},
                    // {field: 'totalPrice', edit: 'text', title: '总价', maxWidth: 80},
                    {title: '操作', toolbar: '#hotelRoom-option', minWidth: 80}

                ]]
            });
        }

        function deleteJobs(roomIds) {
            febs.get(ctx + 'room/delete/' + roomIds, null, function () {
                febs.alert.success('删除成功');
                $query.click();
            });
        }

        $("#addTable").click(function () {
            /*
            var hotelId = sessionStorage.getItem('hotelId');
            var tr = " <tr>" +
                " <td data-type='checkbox' > <div class='layui-table-cell'> </div></td>" +
                " <td data-field='roomName' data-edit='text'> <div id='" + hotelId + "roomName' class='layui-table-cell laytable-cell-1-roomName '> </div></td>" +
                " <td data-field='roomType' data-edit='text' templet = '#selectGxmc'> <div  id='" + hotelId + "roomType' class='layui-table-cell laytable-cell-1-roomType '> </div></td>" +
                " <td data-field='univalence'  data-edit='text'> <div  id='" + hotelId + "univalence'  class='layui-table-cell laytable-cell-1-univalence  '> </div></td>" +
                " <td data-field='roomCount' data-edit='text'> <div  id='" + hotelId + "roomCount' class='layui-table-cell laytable-cell-1-roomCount '> </div></td>" +
                " <td data-field='surplusNumber' data-edit='text'> <div  id='" + hotelId + "surplusNumber' class='layui-table-cell laytable-cell-1-surplusNumber '> </div></td>" +
                " <td data-field='操作'  toolbar:'#hotelRoom-option'> <div class='layui-table-cell' >  <a lay-event='addRoom' shiro:hasPermission='room:add'><iclass='layui-icon febs-edit-area febs-blue'>保存</i></a></div></td>" +
                " </tr>";
            $("[lay-id='hotelRoomTable'] .layui-table-body .layui-table tbody").append(tr);
             */
            var Data = table.cache["hotelRoomTable"];
            var datas = {
                LAY_TABLE_INDEX: 0,
                // createTime: 1599985840000,
                creater: null,
                deleted: 0,
                endTime: null,
                hotelId: "0",
                id: "0",
                modifier: null,
                // modifyTime: 1599985840000,
                roomCount: 0,
                roomDate: null,
                roomName: "",
                roomType: 1,
                startTime: null,
                surplusNumber: 0,
                totalPrice: 0,
                univalence: 0
            }
            Data.push(datas);
            tableIns.reload({
                url:'',
                data: Data
            });
        });

        //监听单元格编辑
        table.on('edit(hotelRoomTable)', function (obj) {
            // var value = obj.value //得到修改后的值
            // , fieldKey = obj.field; //得到字段
            var data = obj.data //得到所在行所有键值
            if (data.id != null) {
                var updateParam = {
                    'hotelId': data.hotelId,
                    'roomName': data.roomName,
                    'roomType': data.roomType,
                    'roomCount': data.roomCount,
                    'surplusNumber': data.surplusNumber,
                    'univalence': data.univalence,
                    'id': data.id
                }
                febs.post(ctx + 'room/update', updateParam, function () {
                });
            }


        });

        function getQueryParams() {
            var params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }

    })
</script>
