<style>
    #febs-hotel .layui-form-label {
        width: 65px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-hotel" lay-title="酒店管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="job-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">酒店名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="hotelName" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">酒店负责人</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="hotelPrincipal" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">联系方式</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="contactPhone" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">接待服务</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="receptionService" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">酒店地址</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="hotelAddress" class="layui-input">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain  table-action"
                                     id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain  table-action"
                                     id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="hotel:add,hotel:update,hotel:delete,hotel:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="hotelTable" lay-data="{id: 'hotelTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="job-status">
    {{#
    var status = {
    0: {title: '正常', color: 'green'},
    1: {title: '暂停', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge febs-bg-{{status.color}}">{{ status.title }}</span>
</script>
<script type="text/html" id="hotel-option">
    <span shiro:lacksPermission="hotel:update,hotel:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="hotel:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="generate" shiro:hasPermission="hotel:room"><i
            class="layui-icon febs-edit-area febs-green">&#xe89f;</i></a>
    <a lay-event="del" shiro:hasPermission="hotel:delete"><i
            class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>


</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#febs-hotel'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();

        initTable();

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('hotelTable');
                if (name === 'add') {
                    febs.modal.open('新增酒店', 'system/hotel/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#hotel-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#hotel-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请勾选需要删除的酒店');
                    } else {
                        febs.modal.confirm('删除酒店', '确定删除所选酒店？', function () {
                            var hotelIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                hotelIds.push(item.id)
                            });
                            deleteJobs(hotelIds.join(','))
                        });
                    }
                }

                if (name === 'export') {
                    var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                    params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
                    params.pageNum = $view.find(".layui-laypage-em").next().html();
                    febs.download(ctx + 'hotel/excel', params, '酒店表.xlsx');
                }
            },
            options: [{
                name: 'add',
                title: '新增酒店',
                perms: 'hotel:add'
            }, {
                name: 'delete',
                title: '删除酒店',
                perms: 'hotel:delete'
            }, {
                name: 'export',
                title: '导出Excel',
                perms: 'hotel:export'
            }]
        });

        table.on('tool(hotelTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除任务', '确定删除该记录？', function () {
                    deleteJobs(data.id);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改酒店', 'system/hotel/update/' + data.id, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#hotel-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }

            if (layEvent === 'generate') {
                sessionStorage.setItem('hotelId', data.id);
                febs.modal.open('设置房间', 'system/hotel/room/' + data.id, {
                    area: $(window).width() <= 750 ? '80%' : '70%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#hotel-room').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }


        });

        table.on('sort(hotelTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'hotelTable',
                url: ctx + 'hotel/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'hotelName', title: '酒店名称', maxWidth: 100},
                    {field: 'hotelPrincipal', title: '酒店负责人', maxWidth: 80},
                    {field: 'contactPhone', title: '联系方式', maxWidth: 80},
                    {field: 'receptionService', title: '接待服务', maxWidth: 80},
                    {field: 'hotelAddress', title: '酒店地址', maxWidth: 80},
                    {field: 'metroGuidelines', title: '地铁指引', maxWidth: 80},
                    {field: 'createTime', title: '创建时间', minWidth: 80, sort: true},

                    {title: '操作', toolbar: '#hotel-option', minWidth: 80}
                ]]
            });
        }

        function deleteJobs(hotelIds) {
            febs.get(ctx + 'hotel/delete/' + hotelIds, null, function () {
                febs.alert.success('删除成功');
                $query.click();
            });
        }

        $("#addTable").click(function () {
            var tr = " <tr>" +
                " <td data-field='' data-type='checkbox'> <div class='layui-table-cell laytable-cell-1-checkbox'> </div></td>" +
                " <td data-field='roomType' data-edit='text'> <div class='layui-table-cell laytable-cell-1-roomType '> </div></td>" +
                " <td data-field='roomCount' data-edit='text'> <div class='layui-table-cell laytable-cell-1-roomCount '> </div></td>" +
                " <td data-field='surplusNumber' data-edit='text'> <div class='layui-table-cell laytable-cell-1-surplusNumber '> </div></td>" +
                " <td data-field='univalence'  data-edit='text'> <div class='layui-table-cell laytable-cell-1-univalence  '> </div></td>" +
                " <td data-field='totalPrice' data-edit='text'> <div class='layui-table-cell laytable-cell-1-totalPrice '> </div></td>" +
                " </tr>";
            $(".layui-table-body .layui-table tbody").append(tr);
        });

        //监听单元格编辑
        table.on('edit(hotelTable)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);


        });


        function getQueryParams() {
            var params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }
    })
</script>