<style>
    #hotelRoom-room {
        padding: 20px 25px 25px 0;
    }

    #hotelRoom-room .layui-form-label {
        width: 88px;
    }

    #hotelRoom-room .layui-input-block {
        margin-left: 120px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-hotelRoom" lay-title="房间管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="job-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">房间类型</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="hotelRoomName" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain  table-action"
                                     id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain  table-action"
                                     id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="hotelRoom:add,hotelRoom:update,hotelRoom:delete,hotelRoom:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="hotelRoomRoomTable" lay-data="{id: 'hotelRoomRoomTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>


<script data-th-inline="javascript">
    layui.use(['dropdown', 'laydate', 'validate', 'form', 'table', 'febs'], function () {
        var $ = layui.$,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            room = [[${room}]],
            $view = $('#febs-hotelRoom'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            validate = layui.validate,
            tableIns;

        form.verify(validate);
        form.render();
        initTable();


        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('hotelRoomTable');
                if (name === 'add') {
                    febs.modal.open('新增酒店', 'system/hotelRoom/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#hotelRoom-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#hotelRoom-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请勾选需要删除的酒店');
                    } else {
                        febs.modal.confirm('删除酒店', '确定删除所选酒店？', function () {
                            var hotelRoomIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                hotelRoomIds.push(item.id)
                            });
                            deleteJobs(hotelRoomIds.join(','))
                        });
                    }
                }

                if (name === 'export') {
                    var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                    params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
                    params.pageNum = $view.find(".layui-laypage-em").next().html();
                    febs.download(ctx + 'hotelRoom/excel', params, '酒店表.xlsx');
                }
            },
            options: [{
                name: 'add',
                title: '新增酒店',
                perms: 'hotelRoom:add'
            }, {
                name: 'delete',
                title: '删除酒店',
                perms: 'hotelRoom:delete'
            }, {
                name: 'export',
                title: '导出Excel',
                perms: 'hotelRoom:export'
            }]
        });

        table.on('tool(hotelRoomTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除任务', '确定删除该记录？', function () {
                    deleteJobs(data.id);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改酒店', 'system/hotelRoom/update/' + data.id, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#hotelRoom-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }

        });

        table.on('sort(hotelRoomTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        //监听单元格编辑
        table.on('edit(hotelRoomTable)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
        });


        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'hotelRoomTable',
                url: ctx + 'room/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'hotelName', title: '酒店名称', maxWidth: 100},
                    {field: 'hotelPrincipal', title: '酒店负责人', maxWidth: 80},
                    {field: 'contactPhone', title: '联系方式', maxWidth: 80},
                    {field: 'receptionService', title: '接待服务', maxWidth: 80},
                    {field: 'hotelAddress', title: '酒店地址', maxWidth: 80},
                    {field: 'metroGuidelines', title: '地铁指引', maxWidth: 80},
                    {field: 'createTime', title: '创建时间', minWidth: 80, sort: true},

                    {title: '操作', toolbar: '#hotel-option', minWidth: 80}
                ]]
            });
        }

        function deleteJobs(hotelRoomIds) {
            febs.get(ctx + 'hotelRoom/delete/' + hotelRoomIds, null, function () {
                febs.alert.success('删除成功');
                $query.click();
            });
        }

        function getQueryParams() {
            var params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }
    })
</script>