<style>
    #weChatUser-add {
        padding: 20px 25px 25px 0;
    }

    #weChatUser-add .layui-form-label {
        width: 88px;
    }

    #weChatUser-add .layui-input-block {
        margin-left: 120px;
    }
</style>
<div class="layui-fluid" id="weChatUser-add">
    <form class="layui-form" action="" lay-filter="weChatUser-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">用户昵称：</label>
            <div class="layui-input-block">
                <input type="text" name="nickname" maxlength="20" lay-verify="range|required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label ">用户名称：</label>
            <div class="layui-input-block">
                <input type="text" name="userName" maxlength="20"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">所在省份：</label>
            <div class="layui-input-block">
                <input type="text" name="province" maxlength="50" lay-verify="range|required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所在城市：</label>
            <div class="layui-input-block">
                <input type="text" name="city" maxlength="50" lay-verify="range"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式：</label>
            <div class="layui-input-block">
                <input type="text" name="phone" maxlength="20"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">性别：</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="1" title="男性">
                <input type="radio" name="sex" value="2" title="女性">
                <input type="radio" name="sex" value="0" title="未知" checked="">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">是否订阅：</label>
            <div class="layui-input-block">
                <input type="radio" name="subscribe" value="1" title="已订阅">
                <input type="radio" name="subscribe" value="0" title="未订阅">
            </div>
        </div>


        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="weChatUser-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['jquery', 'febs', 'form', 'validate'], function () {
        var $ = layui.jquery,
            febs = layui.febs,
            form = layui.form,
            $view = $('#weChatUser-add'),
            validate = layui.validate;

        form.verify(validate);
        form.render();


        form.on('submit(weChatUser-add-form-submit)', function (data) {
            febs.post(ctx + 'weChatUser', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增用户成功');
                $('#febs-weChatUser').find('#query').click();
            });
            return false;
        });

    });
</script>