<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.system.mapper.MeetingMapper">


    <select id="countMeeting" resultType="java.lang.Long">
        SELECT
        COUNT(1)
        FROM
        t_meeting t
        WHERE 1 = 1
        <if test="meeting.meetingName != null and meeting.meetingName != ''">
            AND t.meeting_name like CONCAT('%',#{meeting.meetingName},'%')
        </if>
        <if test="meeting.sponsor != null and meeting.sponsor != ''">
            AND t.sponsor like CONCAT('%',#{meeting.sponsor},'%')
        </if>
        <if test="meeting.organizer != null and meeting.organizer != ''">
            AND t.organizer like CONCAT('%',#{meeting.organizer},'%')
        </if>
        <if test="meeting.status != null and meeting.status != ''">
            AND t.status = #{meeting.status}
        </if>
        <if test="meeting.meetingPrincipal != null and meeting.meetingPrincipal != ''">
            AND t.meeting_principal like CONCAT('%',#{meeting.meetingPrincipal},'%')
        </if>
        <if test="meeting.meetingAddress != null and meeting.meetingAddress != ''">
            AND t.meeting_address like CONCAT('%',#{meeting.meetingAddress},'%')
        </if>


    </select>


    <update id="auditMeeting">
    update  t_meeting set status = #{status} where id = #{id}
    </update>


    <select id="weChatHotelsByMeetingId" resultType="cc.mrbird.febs.system.entity.HotelName">
            SELECT
            h.id,h.hotel_name  from t_hotel h
            left join t_meeting_hotel t on  h.id  = t.hotel_id and  t.meeting_id = #{meetingId}
            where h.deleted = 0
            GROUP BY h.id
    </select>

</mapper>
