<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.system.mapper.MeetingHotelMapper">


    <select id="countMeetHotels" resultType="java.lang.Long">


        select count(1) from t_meeting_hotel t
        left join t_hotel h on t.hotel_id = h.id
        where t.meeting_id =#{meetingHotel.meetingId} and t.deleted =0 and h.deleted = 0
        <if test="meetingHotel.feeName != null and meetingHotel.feeName != ''">
            AND t.fee_name like CONCAT('%',#{meetingHotel.feeName},'%')
        </if>
        <if test="meetingHotel.hotelName != null and meetingHotel.hotelName != ''">
            AND h.hotel_name like CONCAT('%',#{meetingHotel.hotelName},'%')
        </if>
        <if test="meetingHotel.feeType != null and meetingHotel.feeType != ''">
            AND t.fee_type = #{meetingHotel.feeType}
        </if>
        <if test="meetingHotel.parentFeeId != null and meetingHotel.parentFeeId != '' and meetingHotel.parentFeeId >0">
            AND t.parent_feeid = #{meetingHotel.parentFeeId}
        </if>


    </select>


    <select id="findMeetingHotelsPage" resultType="cc.mrbird.febs.system.entity.MeetingHotel">

        select t.*,h.hotel_name from t_meeting_hotel t
        left join t_hotel h on t.hotel_id = h.id
        where t.meeting_id = #{meetingHotel.meetingId} and t.deleted =0 and h.deleted = 0
        <if test="meetingHotel.feeName != null and meetingHotel.feeName != ''">
            AND t.fee_name like CONCAT('%',#{meetingHotel.feeName},'%')
        </if>
        <if test="meetingHotel.hotelName != null and meetingHotel.hotelName != ''">
            AND h.hotel_name like CONCAT('%',#{meetingHotel.hotelName},'%')
        </if>
        <if test="meetingHotel.feeType != null and meetingHotel.feeType != ''">
            AND t.fee_type = #{meetingHotel.feeType}
        </if>
        <if test="meetingHotel.parentFeeId != null and meetingHotel.parentFeeId != '' and meetingHotel.parentFeeId >0">
            AND t.parent_feeid = #{meetingHotel.parentFeeId}
        </if>
        order by t.create_time desc


    </select>

    <select id="selectMeetingHotelById" resultType="cc.mrbird.febs.system.entity.MeetingHotel">

        SELECT m.id, m.meeting_id, m.fee_type, m.fee_name, m.surplus_number, m.fee_price, m.available_number,m.fee_id,
         m.hotel_id, m.create_time, m.modify_time, m.modifier, m.creater, m.deleted, m.date_time,h.hotel_name
         FROM t_meeting_hotel m
         left join t_hotel h on h.id = m.hotel_id
         WHERE m.id = #{id};

    </select>


    <select id="selectFeeLists" resultType="cc.mrbird.febs.system.entity.MeetingHotel">

        SELECT
        *
        FROM t_meeting_hotel
        WHERE meeting_id=#{meetingId} and hotel_id =#{hotelId} and deleted = 0
        <if test="feeId != null and feeId != ''">
            AND fee_id =#{feeId}
        </if>
        <if test="startTime !=null and startTime !=''">
            and date_time &gt;= #{startTime}
        </if>
        <if test="endTime !=null and endTime !=''">
            and date_time &lt;= #{endTime}
        </if>


    </select>


    <select id="isExistMeetingHotel" resultType="cc.mrbird.febs.system.entity.MeetingHotel">
        SELECT
        *
        FROM t_meeting_hotel
        where meeting_id =#{meetingId} and hotel_id =#{hotelId} and deleted = 0
        and fee_id = #{feeId}
        <if test="dateTime !=null and dateTime !=''">
            and date_time =#{dateTime}
        </if>

    </select>
    <select id="meetingHotelEdits" resultType="cc.mrbird.febs.system.entity.MeetingHotel">
        select  * from  t_meeting_hotel where  parent_feeid = #{id} and  deleted = 0
    </select>

    <update id="updateFeePrice">
     update t_meeting_hotel set fee_price =#{feePrice} where meeting_id =#{meetingId}
     and hotel_id =#{hotelId} and deleted = 0 and fee_id = #{feeId}
    </update>


    <update id="updateInvetory">

     update t_meeting_hotel set surplus_number =surplus_number + #{number} where meeting_id =#{meetingId}
     and hotel_id =#{hotelId} and deleted = 0 and fee_id = #{feeId}
     and date_time =#{dateTime}

    </update>


    <update id="reduceInvetory">

     update t_meeting_hotel set surplus_number =surplus_number - #{number} where meeting_id =#{meetingId}
     and hotel_id =#{hotelId} and deleted = 0 and fee_id = #{feeId} and date_time =#{dateTime}

    </update>


    <update id="updateMeetingHotelById">
       update t_meeting_hotel set deleted = 1 where id = #{id}
    </update>


    <update id="updateMeetingHotel">

        update t_meeting_hotel
        <set>
            <if test="meetingHotel != null ">
                meeting_id =#{meetingId},
            </if>
            <if test="hotelId != null ">
                hotel_id =#{hotelId},
            </if>
            <if test="feeId != null ">
                fee_id =#{feeId},
            </if>
        </set>
        where parent_feeid = #{id} and deleted = 0

    </update>

    <update id="updateChildrenMeetingHotel">
       update t_meeting_hotel set set deleted = 1 where parent_feeid = #{id}
    </update>
</mapper>
