<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.system.mapper.RoomMapper">

    <select id="countRoom" resultType="java.lang.Long">


        select count(1) from t_room r where r.hotel_id =#{room.hotelId} and r.deleted = 0
        <if test="room.roomType != null and room.roomType != ''">
            AND r.room_type like CONCAT('%',#{room.roomType},'%')
        </if>

    </select>
</mapper>
