<style>
    #febs-meeting .layui-form-label {
        width: 65px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-meeting" lay-title="会议管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="job-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">会议名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="meetingName" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">主办方</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="sponsor" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">承办方</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="organizer" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">会议负责人</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="meetingPrincipal" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">会议地址</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="meetingAddress" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain  table-action"
                                     id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain  table-action"
                                     id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="meeting:add,meeting:update,meeting:delete,meeting:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="meetingTable" lay-data="{id: 'meetingTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="job-status">
    {{#
    var status = {
    0: {title: '正常', color: 'green'},
    1: {title: '暂停', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge febs-bg-{{status.color}}">{{ status.title }}</span>
</script>
<script type="text/html" id="meeting-option">
    <span shiro:lacksPermission="meeting:update,meeting:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="meeting:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="meeting:delete"><i
            class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#febs-meeting'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();
        initTable();

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('meetingTable');
                if (name === 'add') {
                    febs.modal.open('新增会议', 'system/meeting/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#meeting-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#meeting-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请勾选需要删除的会议');
                    } else {
                        febs.modal.confirm('删除会议', '确定删除所选会议？', function () {
                            var meetingIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                meetingIds.push(item.id)
                            });
                            deleteJobs(meetingIds.join(','))
                        });
                    }
                }

                if (name === 'export') {
                    var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                    params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
                    params.pageNum = $view.find(".layui-laypage-em").next().html();
                    febs.download(ctx + 'meeting/excel', params, '会议表.xlsx');
                }
            },
            options: [{
                name: 'add',
                title: '新增会议',
                perms: 'meeting:add'
            }, {
                name: 'delete',
                title: '删除会议',
                perms: 'meeting:delete'
            }, {
                name: 'export',
                title: '导出Excel',
                perms: 'meeting:export'
            }]
        });

        table.on('tool(meetingTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除任务', '确定删除该记录？', function () {
                    deleteJobs(data.id);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改会议', 'system/meeting/update/' + data.id, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#meeting-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(meetingTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'meetingTable',
                url: ctx + 'meeting/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'meetingName', title: '会议名称', maxWidth: 100},
                    {field: 'sponsor', title: '主办方', maxWidth: 80},
                    {field: 'organizer', title: '承办方', maxWidth: 80},
                    {field: 'meetingPrincipal', title: '会议负责人', maxWidth: 80},
                    {field: 'contactPhone', title: '联系方式', maxWidth: 80, sort: true},
                    {field: 'meetingAddress', title: '会议地址', maxWidth: 80},
                    {field: 'startTime', title: '开始时间', minWidth: 80, sort: true},
                    {field: 'endTime', title: '结束时间', maxWidth: 80},
                    {title: '操作', toolbar: '#meeting-option', minWidth: 80}
                ]]
            });
        }

        function deleteJobs(meetingIds) {
            febs.get(ctx + 'meeting/delete/' + meetingIds, null, function () {
                febs.alert.success('删除成功');
                $query.click();
            });
        }

        function getQueryParams() {
            var params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }
    })
</script>