<style xmlns:shiro="http://www.w3.org/1999/xhtml">
    #febs-meeting .layui-form-label {
        width: 65px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-meeting" lay-title="会议管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="job-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">会议名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="meetingName" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select name="status">
                                                <option value=""></option>
                                                <option value="0">待审核</option>
                                                <option value="1">审核通过</option>
                                                <option value="2">审核未通过</option>
                                                <option value="3">审核已过期</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain  table-action"
                                     id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain  table-action"
                                     id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="meeting:add,meeting:update,meeting:delete,meeting:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>

                            </div>
                        </div>
                    </form>
                    <table lay-filter="meetingTable" lay-data="{id: 'meetingTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="meeting-status">
    {{#
    var status = {
    0: {title: '待审核', color: 'volcano'},
    1: {title: '审核通过', color: 'green'},
    2: {title: '审核未通过', color: 'red'},
    3: {title: '审核已过期', color: 'blue'}
    }[d.status];
    }}
    <span class="layui-badge febs-bg-{{status.color}}">{{ status.title }}</span>
</script>
<!--shiro:hasPermission="meetingHotel:view"-->

<script type="text/html" id="meeting-option">
    <span shiro:lacksPermission="meeting:update,meeting:delete,meeting:audit">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="generate"><i
            class="layui-icon febs-edit-area febs-blue">&#xe641;</i></a>
    <a lay-event="edit" shiro:hasPermission="meeting:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe642;</i></a>
    <a lay-event="audit" shiro:hasPermission="meeting:audit"><i
            class="layui-icon febs-edit-area febs-green">&#xe672;</i></a>
    <a lay-event="meetHotel"><i
            class="layui-icon febs-edit-area febs-green">&#xe653;</i></a>
    <a lay-event="del" shiro:hasPermission="meeting:delete"><i
            class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>


</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#febs-meeting'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();
        initTable();


        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('meetingTable');
                if (name === 'add') {
                    febs.modal.open('新增会议', 'system/meeting/add', {
                        btn: ['提交', '重置'],
                        move: false,
                        offset: '0px',
                        fixed: false,
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#meeting-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#meeting-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请勾选需要删除的会议');
                    } else {
                        febs.modal.confirm('删除会议', '确定删除所选会议？', function () {
                            var meetingIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                meetingIds.push(item.id)
                            });
                            deleteJobs(meetingIds.join(','))
                        });
                    }
                }

                if (name === 'export') {
                    var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                    params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
                    params.pageNum = $view.find(".layui-laypage-em").next().html();
                    febs.download(ctx + 'meeting/excel', params, '会议表.xlsx');
                }
            },
            options: [{
                name: 'add',
                title: '新增会议',
                perms: 'meeting:add'
            }, {
                name: 'delete',
                title: '删除会议',
                perms: 'meeting:delete'
            }, {
                name: 'export',
                title: '导出Excel',
                perms: 'meeting:export'
            }]
        });

        table.on('tool(meetingTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除任务', '确定删除该记录？', function () {
                    deleteJobs(data.id);
                });
            }
            if (layEvent === 'generate') {
                if (data.status != 1){
                    febs.alert.warn('该会议未审核通过，不能分享');
                    return
                }
                febs.get(ctx + 'meeting/generateQrcode/' + data.id,null, function (res) {
                    console.log("-----------------------res")
                    console.log(res.data)
                    layer.open({
                        title: '分享二维码'
                        ,content: '<img border="0" src="'+res.data+'" alt="Pulpit rock" width="350" height="350">'
                    });
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改会议', 'system/meeting/update/' + data.id, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    move: false,
                    offset: '0px',
                    fixed: false,
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#meeting-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
            if (layEvent === 'audit') {
                febs.modal.open('确认审核', 'system/meeting/audit/' + data.id, {
                    area: $(window).width() <= 450 ? '50%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#meeting-audit').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }

            if (layEvent === 'meetHotel') {
                sessionStorage.setItem('meetingId', data.id);
                febs.modal.open('会议费用项', 'system/meeting/meetingHotel', {
                    area: $(window).width() <= 750 ? '90%' : '70%',
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        // $('#meeting-meetingHotel').find('#submit').trigger('click');
                        layer.closeAll();
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(meetingTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'meetingTable',
                url: ctx + 'meeting/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'meetingName', title: '会议名称', maxWidth: 80},
                    {field: 'sponsor', title: '主办方', maxWidth: 80},
                    {field: 'organizer', title: '承办方', maxWidth: 80},
                    {field: 'meetingPrincipal', title: '会议负责人', maxWidth: 50},
                    {field: 'contactPhone', title: '联系方式', maxWidth: 60, sort: true},
                    {field: 'meetingAddress', title: '会议地址', maxWidth: 60},
                    {field: 'startTime', title: '开始时间', minWidth: 60, sort: true},
                    {field: 'endTime', title: '结束时间', maxWidth: 60},
                    {title: '状态', templet: '#meeting-status', maxWidth: 50},
                    {title: '操作', toolbar: '#meeting-option', minWidth: 150}
                ]]
            });
        }

        function deleteJobs(meetingIds) {
            febs.get(ctx + 'meeting/delete/' + meetingIds, null, function () {
                febs.alert.success('删除成功');
                $query.click();
            });
        }

        function auditJobs(id) {
            febs.get(ctx + 'meeting/audit/' + id, null, function () {
                febs.alert.success('审核成功');
                $query.click();
            });
        }

        function getQueryParams() {
            var params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }
    })
</script>
