<style>
    #febs-meetingHotel .layui-form-label {
        width: 65px;
    }

    .layui-dropdown {
        z-index: 59891016 !important;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-meetingHotel" lay-title="会议费用项">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="job-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">酒店名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="hotelName" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">费用名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="feeName" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">费用类型</label>
                                        <div class="layui-input-inline">
                                            <select name="feeType">
                                                <option value=""></option>
                                                <option value="1">房间类</option>
                                                <option value="2">其他</option>
                                            </select>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain  table-action"
                                     id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain  table-action"
                                     id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more "
                                     shiro:hasAnyPermissions="meetingHotel:add,meetingHotel:update,meetingHotel:delete,meetingHotel:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="meetingHotelTable" lay-data="{id: 'meetingHotelTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="meetingHotel-feeType">
    {{#
    var feeType = {
    1: {title: '房间类', color: 'green'},
    2: {title: '其他', color: 'volcano'}
    }[d.feeType];
    }}
    <span class="layui-badge febs-bg-{{feeType.color}}">{{ feeType.title }}</span>
</script>
<script type="text/html" id="meetingHotel-option">
    <span shiro:lacksPermission="meetingHotel:update,meetingHotel:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="meetingHotel:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="meetingHotel:delete"><i
            class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#febs-meetingHotel'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();
        initTable();


        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('meetingHotelTable');
                if (name === 'add') {
                    febs.modal.open('新增费用项', 'system/meetingHotel/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '70%' : '50%',
                        yes: function (index, layero) {
                            $('#meetingHotel-add').find('#submit').trigger('click');
                            layer.close(index);
                        },
                        btn2: function () {
                            $('#meetingHotel-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }


                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请勾选需要删除的费用项');
                    } else {
                        febs.modal.confirm('删除费用项', '确定删除所选费用项？', function () {
                            var meetingHotelIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                meetingHotelIds.push(item.id)
                            });
                            deleteJobs(meetingHotelIds.join(','))
                        });
                    }
                }

                if (name === 'export') {
                    var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                    params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
                    params.pageNum = $view.find(".layui-laypage-em").next().html();
                    febs.download(ctx + 'meetingHotel/excel', params, '费用项信息表.xlsx');
                }
            },
            options: [{
                name: 'add',
                title: '新增费用项',
                perms: 'meetingHotel:add'
            }, {
                name: 'delete',
                title: '删除费用项',
                perms: 'meetingHotel:delete'
            }, {
                name: 'export',
                title: '导出Excel',
                perms: 'meetingHotel:export'
            }]
        });

        table.on('tool(meetingHotelTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除费用项', '确定删除该费用项？', function () {
                    deleteJobs(data.id);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改费用项', 'system/meetingHotel/update/' + data.id, {
                    area: $(window).width() <= 750 ? '70%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#meetingHotel-update').find('#submit').trigger('click');
                        layer.close(index);
                    },
                    btn2: function () {
                    }
                });
            }
        });

        table.on('sort(meetingHotelTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        function initTable() {
            var meetingId = sessionStorage.getItem('meetingId');
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'meetingHotelTable',
                url: ctx + 'meetingHotel/list/' + meetingId,
                cols: [[
                    {type: 'checkbox'},
                    {field: 'hotelName', title: '酒店名称', maxWidth: 100},
                    {field: 'feeName', title: '费用名称', maxWidth: 100},
                    {title: '类型', templet: '#meetingHotel-feeType'},
                    {field: 'feePrice', title: '价格', maxWidth: 80},
                    {field: 'availableNumber', title: '可用数量', maxWidth: 80},
                    {field: 'surplusNumber', title: '剩余数量', maxWidth: 80, sort: true},
                    {title: '操作', toolbar: '#meetingHotel-option', minWidth: 80}
                ]]
            });
        }

        function deleteJobs(meetingHotelIds) {
            febs.get(ctx + 'meetingHotel/delete/' + meetingHotelIds, null, function () {
                febs.alert.success('删除成功');
                $query.click();
            });
        }

        function getQueryParams() {
            var params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }
    })
</script>
