<style>
    #meeting-update {
        padding: 20px 25px 25px 0;
    }

    #meeting-update .layui-form-label {
        width: 88px;
    }

    #meeting-update .layui-input-block {
        margin-left: 120px;
    }


</style>
<div class="layui-fluid" id="meeting-update">
    <form class="layui-form" action="" lay-filter="meeting-update-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">id：</label>
            <div class="layui-input-block">
                <input type="text" name="id" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">会议名称：</label>
            <div class="layui-input-block">
                <input type="text" name="meetingName" maxlength="200" lay-verify="range|required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">主办方：</label>
            <div class="layui-input-block">
                <input type="text" name="sponsor" maxlength="200" lay-verify="range|required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">会议负责人：</label>
            <div class="layui-input-block">
                <input type="text" name="meetingPrincipal" maxlength="200" lay-verify="range"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式：</label>
            <div class="layui-input-block">
                <input type="text" name="contactPhone" maxlength="20" lay-verify="range"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">会议地址：</label>
            <div class="layui-input-block">
                <input type="text" name="meetingAddress" maxlength="200" lay-verify="range"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">承办方：</label>
            <div class="layui-input-block">
                <input type="text" name="organizer" maxlength="200" lay-verify="range"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-inline">
                <input type="text" name="startTime" id="febs-form-meeting-start"
                       placeholder="开始时间" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input type="text" name="endTime" id="febs-form-meeting-end"
                       placeholder="结束时间" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">活动简介：</label>
            <div class="layui-input-block" style="border: 1px solid gray;">
                <textarea id="synopsis" name="synopsis" maxlength="1000" class="layui-textarea"
                          style="display: none;"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">活动须知：</label>
            <div class="layui-input-block" style="border: 1px solid gray;">
                <textarea id="activityNotes" name="activityNotes" maxlength="1000" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">活动流程：</label>
            <div class="layui-input-block" style="border: 1px solid gray;">
                <textarea id="activityFlow" name="activityFlow" maxlength="1000" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">预定说明：</label>
            <div class="layui-input-block" style="border: 1px solid gray;">
                <textarea id="description" name="description" maxlength="1000" class="layui-textarea"></textarea>
            </div>
        </div>
        <!--        <textarea id="demo" style="display: none;"></textarea>-->
        <!--      <div class="layui-form-item layui-form-text">
                  <label class="layui-form-label">酒店选择：</label>
                  <div class="layui-input-block">
                      <button type="button" id="selectHotel" class="layui-btn">选择</button>
                  </div>
              </div>
              <div id="hotelTableList">

              </div>-->
        <div class="layui-form-item">
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="upload">多图片上传</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;width: 88%">
                    预览图：
                    <div class="layui-upload-list uploader-list" style="overflow: auto;" id="uploader-list">
                        <div id="" class="file-iteme">
                            <div class="handle"><i class="layui-icon"
                                                   style="color: white;margin-right: 40%">&#xe640;</i>
                            </div>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>

        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="meeting-update-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<style type="text/css">
    .layui-form-label {
        width: 110px;
    }

    .uploader-list {
        margin-left: -15px;
    }

    .uploader-list .info {
        position: relative;
        margin-top: -25px;
        background-color: black;
        color: white;
        filter: alpha(Opacity=80);
        -moz-opacity: 0.5;
        opacity: 0.5;
        width: 100px;
        height: 25px;
        text-align: center;
        display: none;
    }

    .uploader-list .handle {
        position: relative;
        background-color: #ff6a00;
        color: white;
        filter: alpha(Opacity=80);
        -moz-opacity: 0.5;
        width: 100px;
        text-align: right;
        height: 18px;
        margin-bottom: -18px;
        display: none;
    }

    .uploader-list .handle span {
        margin-right: 5px;
    }

    .uploader-list .handle span:hover {
        cursor: pointer;
    }

    .uploader-list .file-iteme {
        margin: 12px 0 0 15px;
        padding: 1px;
        float: left;
    }
</style>

<script data-th-inline="javascript">
    layui.use(['jquery', 'febs', 'form', 'validate', 'laydate', 'table', 'layedit', 'upload', 'layer'], function () {
        var $ = layui.jquery,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            meeting = [[${meeting}]],
            files = [[${files}]],
            $view = $('#meeting-update'),
            validate = layui.validate,
            upload = layui.upload,
            laydate = layui.laydate;
        var layedit;
        var one; //建立编辑器
        var two; //建立编辑器
        var three; //建立编辑器
        var four; //建立编辑器


        laydate.render({
            elem: '#febs-form-meeting-start'
            , type: 'datetime'
            , format: 'yyyy-MM-dd HH:ss'
        });


        laydate.render({
            elem: '#febs-form-meeting-end'
            , type: 'datetime'
            , format: 'yyyy-MM-dd HH:ss'
        });

        form.verify(validate);
        form.render();

        initmeetingValue();

        function initmeetingValue() {
            form.val("meeting-update-form", {
                "id": meeting.id,
                "meetingName": meeting.meetingName,
                "sponsor": meeting.sponsor,
                "organizer": meeting.organizer,
                "meetingPrincipal": meeting.meetingPrincipal,
                "meetingAddress": meeting.meetingAddress,
                "contactPhone": meeting.contactPhone,
                "startTime": meeting.startTime,
                "endTime": meeting.endTime,
                "synopsis": meeting.synopsis,
                "activityNotes": meeting.activityNotes,
                "activityFlow": meeting.activityFlow,
                "participants": meeting.participants,
                "description": meeting.description
            });
            layedit = layui.layedit;
            one = layedit.build('synopsis', {height: 80}); //建立编辑器
            two = layedit.build('activityNotes', {height: 80}); //建立编辑器
            three = layedit.build('activityFlow', {height: 80}); //建立编辑器
            four = layedit.build('description', {height: 80}); //建立编辑器

            if (files.length > 0) {
                for (var i in files) {
                    var file = files[i];
                    $('#uploader-list').append(
                        '<div id="" class="file-iteme" data-id="' + file.id + '" >' +
                        '<div class="handle"> <i class="layui-icon" style="color: white ;margin-right: 40%">&#xe640;</i></div>' +
                        '<img style="color: white;width: 100px; height: 100px" onclick="" src="' + file.url + '" class="layui-upload-img">' +
                        '</div>'
                    );
                }
            }
        }

        form.on('submit(meeting-update-form-submit)', function (data) {
            data.field.endTime = new Date(data.field.endTime);
            data.field.startTime = new Date(data.field.startTime);
            data.field.synopsis = layedit.getContent(one);
            data.field.activityNotes = layedit.getContent(two);
            data.field.activityFlow = layedit.getContent(three);
            data.field.description = layedit.getContent(four);
            if (febs.nativeEqual(data.field, meeting)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            /*        febs.post(ctx + 'meeting/update', data.field, function () {
                        layer.closeAll();
                        febs.alert.success('任务修改成功');
                        $('#febs-meeting').find('#query').click();
                    });*/
            $(data.form).attr('action', ctx + 'meeting/update');
            return true;
        });

        //多图片上传
        upload.render({
            elem: '#upload'
            , url: '' //改成您自己的上传接口
            , multiple: true
            , auto: false
            , choose: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    if (index == 5) {
                        return false;
                    }
                    $('#uploader-list').append(
                        '<div id="" class="file-iteme">' +
                        '<div class="handle"> <i class="layui-icon" style="color: white ;margin-right: 40%">&#xe640;</i></div>' +
                        '<img style="color: white;width: 100px; height: 100px" onclick="" src="' + result + '" class="layui-upload-img">' +
                        '</div>'
                    );

                    // $('#quote').append('<img width="100px" height="100px" src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            }
            , before: function (obj) {
                console.log('--------')
                console.log(obj)
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            }
            , success: function (res) {
                console.log('上传完毕');
            }
            , done: function (res) {
                console.log('上传成功')
                //上传完毕
            }
        });


        $('#meeting-update #selectHotel').click(function () {
            febs.modal.open('选择酒店', 'system/meeting/selectHotel', {
                area: $(window).width() <= 450 ? '50%' : '50%',
                btn: ['选择', '取消'],
                yes: function (index, layero) {
                    var dataArr = layui.table.checkStatus('selectHotelTable').data;
                    for (var i in dataArr) {
                        var data = dataArr[i];
                        var id = data.id;
                        var tableId = 'hotelTable_' + id;

                        if ($view.find('#' + tableId) && $view.find('#' + tableId).length == 0) {
                            $view.find('#hotelTableList')
                                .append('<h2 style="margin-left: 38px">酒店名称：' + data.hotelName + '</h2>');
                            $view.find('#hotelTableList')
                                .append('<table class="layui-hide" id="' + tableId + '"></table>');

                            febs.table.init({
                                elem: $view.find('#' + tableId),
                                id: '#' + tableId,
                                url: ctx + 'room/list/' + id,
                                cols: [[
                                    {field: 'roomType', edit: 'text', title: '房间类型', maxWidth: 100},
                                    {field: 'roomCount', edit: 'text', title: '房间数量', maxWidth: 80},
                                    {field: 'surplusNumber', edit: 'text', title: '剩余数量', maxWidth: 80},
                                    {field: 'univalence', edit: 'text', title: '单价', maxWidth: 80},
                                    {field: 'totalPrice', edit: 'text', title: '总价', maxWidth: 80}
                                    /**/
                                ]]
                            });
                        }
                    }
                    layer.close(index);
                },
                btn2: function () {
                    layer.closeAll();
                }
            });
        });


        $(document).on("mouseenter mouseleave", ".file-iteme", function (event) {
            if (event.type === "mouseenter") {
                //鼠标悬浮
                $(this).children(".info").fadeIn("fast");
                $(this).children(".handle").fadeIn("fast");
            } else if (event.type === "mouseleave") {
                //鼠标离开
                $(this).children(".info").hide();
                $(this).children(".handle").hide();
            }
        });

        $(document).on("click", ".file-iteme .handle", function (event) {
            $(this).parent().remove();
        })

    });


</script>
