<style>
    #febs-selectHotelTable .layui-form-label {
        width: 65px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-selectHotelTable" lay-title="选择酒店">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="job-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">酒店名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="hotelName" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain  table-action"
                                     id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain  table-action"
                                     id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="selectHotelTable" lay-data="{id: 'selectHotelTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="job-status">
    {{#
    var status = {
    0: {title: '正常', color: 'green'},
    1: {title: '暂停', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge febs-bg-{{status.color}}">{{ status.title }}</span>
</script>
<script type="text/html" id="hotel-option">
    <span shiro:lacksPermission="hotel:update,hotel:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="hotel:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe642;</i></a>
    <a lay-event="generate" shiro:hasPermission="hotel:room"><i
            class="layui-icon febs-edit-area febs-green">&#xe653;</i></a>
    <a lay-event="del" shiro:hasPermission="hotel:delete"><i
            class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>


</script>
<script data-th-inline="none" type="text/javascript">
    var tableIns;
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#febs-selectHotelTable'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null};

        form.render();

        initTable();

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('selectHotelTable');
            }
        });

            table.on('sort(selectHotelTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'selectHotelTable',
                url: ctx + 'hotel/list',
                cols: [[
                    {type: 'checkbox', field: 'id'},
                    {field: 'hotelName', title: '酒店名称', maxWidth: 100},
                    {field: 'hotelPrincipal', title: '酒店负责人', maxWidth: 80},
                    {field: 'contactPhone', title: '联系方式', maxWidth: 80},
                    {field: 'receptionService', title: '接待服务', maxWidth: 80},
                    {field: 'hotelAddress', title: '酒店地址', maxWidth: 80},
                    {field: 'metroGuidelines', title: '路线指引', maxWidth: 80},
                    {field: 'createTime', title: '创建时间', minWidth: 80, sort: true}
                ]]
            });
        }

        function getQueryParams() {
            var params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }
    });
</script>