<style>
    #febs-payment .layui-form-label {
        width: 65px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-payment" lay-title="订单管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="job-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">订单编号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="paymentCode" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">会议名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="meetingName" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">酒店名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="hotelName" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">状态</label>
                                        <div class="layui-input-inline">
                                            <select name="payType">
                                                <option value=""></option>
                                                <option value="1">待支付</option>
                                                <option value="2">已支付</option>
                                                <option value="3">申请退款</option>
                                                <option value="4">已退款</option>
                                            </select>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain  table-action"
                                     id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain  table-action"
                                     id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="payment:add,payment:update,payment:delete,payment:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="paymentTable" lay-data="{id: 'paymentTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="payment-payType">
    {{#
    var payType = {
    1: {title: '待支付', color: 'volcano'},
    2: {title: '已支付', color: 'green'},
    3: {title: '申请退款', color: 'red'},
    4: {title: '已退款', color: 'blue'}
    }[d.payType];
    }}
    <span class="layui-badge febs-bg-{{payType.color}}">{{ payType.title }}</span>
</script>


<!--<span shiro:lacksPermission="payment:update,payment:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
<a lay-event="edit" shiro:hasPermission="payment:update"><i
        class="layui-icon febs-edit-area febs-blue">&#xe642;</i></a>

<a lay-event="del" shiro:hasPermission="payment:delete"><i
        class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>-->

<script type="text/html" id="payment-option">
    <a lay-event="paymentDetails" shiro:hasPermission="payment:details"><i
            class="layui-icon febs-edit-area febs-green">&#xe653;</i></a>
    <a lay-event="invoice" shiro:hasPermission="payment:invoice"><i
            class="layui-icon febs-edit-area febs-blue">&#xe642;</i></a>
    <a lay-event="audit" shiro:hasPermission="payment:audit"><i
            class="layui-icon febs-edit-area febs-green">&#xe672;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#febs-payment'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();
        initTable();

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('paymentTable');
                if (name === 'add') {
                    febs.modal.open('新增订单', 'system/payment/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#payment-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#payment-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn('请勾选需要删除的订单');
                    } else {
                        febs.modal.confirm('删除订单', '确定删除所选订单？', function () {
                            var paymentIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                paymentIds.push(item.id)
                            });
                            deleteJobs(paymentIds.join(','))
                        });
                    }
                }

                if (name === 'export') {
                    var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
                    params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
                    params.pageNum = $view.find(".layui-laypage-em").next().html();
                    febs.download(ctx + 'payment/excel', params, '订单信息表.xlsx');
                }
            },
            options: [{
                name: 'export',
                title: '导出Excel',
                perms: 'payment:export'
            }, {
                name: 'delete',
                title: '删除订单',
                perms: 'payment:delete'
            }]
        });

        table.on('tool(paymentTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除订单', '确定删除该订单？', function () {
                    deleteJobs(data.id);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改订单', 'system/payment/update/' + data.id, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#payment-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }

            if (layEvent === 'audit') {
                febs.modal.open('确认审核', 'system/payment/audit/' + data.id, {
                    area: $(window).width() <= 450 ? '50%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#payment-audit').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }

            if (layEvent === 'invoice') {
                febs.modal.open('发票信息', 'system/payment/orderInvoice/' + data.paymentCode, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#orderInvoice-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }

            if (layEvent === 'paymentDetails') {
                sessionStorage.setItem('paymentCode', data.paymentCode);
                febs.modal.open('订单详情', 'system/paymentDetails/list/', {
                    area: $(window).width() <= 750 ? '80%' : '70%',
                    yes: function (index, layero) {
                        $('#paymentDetails').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(paymentTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });


        // $.ajax({
        //     url: ctx + 'meeting/getMeetingNames',
        //     dataType: 'json',
        //     type: 'post',
        //     success: function (data) {
        //         $.each(data, function (index, item) {
        //             $('#meetingName').append(new Option(item.name, item.id));//往下拉菜单里添加元素
        //         })
        //
        //         form.render();//菜单渲染 把内容加载进去
        //     }
        // })


        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'paymentTable',
                url: ctx + 'payment/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'paymentCode', title: '订单编号', maxWidth: 120},
                    {field: 'occupants', title: '入住人', maxWidth: 80},
                    {field: 'sex', title: '性别', maxWidth: 50},
                    {field: 'contactPhone', title: '联系方式', maxWidth: 80},
                    {field: 'meetingName', title: '会议名称', maxWidth: 120},
                    {field: 'hotelName', title: '酒店名称', maxWidth: 120},
                    {field: 'paymentAmount', title: '支付金额', maxWidth: 60, sort: true},
                    {title: '状态', templet: '#payment-payType'},
                    {
                        field: 'createTime', title: '创建时间', templet: function (data) {
                            return layui.util.toDateString(data.createTime, "yyyy-MM-dd HH:mm:ss");
                        }, minWidth: 80, sort: true
                    },
                    {title: '操作', toolbar: '#payment-option', minWidth: 50}
                ]]
            });
        }

        function deleteJobs(paymentIds) {
            febs.get(ctx + 'payment/delete/' + paymentIds, null, function () {
                febs.alert.success('删除成功');
                $query.click();
            });
        }

        function getQueryParams() {
            var params = $searchForm.serializeJson();
            params.invalidate_ie_cache = new Date();
            return params;
        }
    })
</script>