<style>
    #payment-audit {
        padding: 20px 25px 25px 0;
    }

    #payment-audit .layui-form-label {
        width: 88px;
    }

    #payment-audit .layui-input-block {
        margin-left: 120px;
    }
</style>
<div class="layui-fluid" id="payment-audit">
    <form class="layui-form" action="" lay-filter="payment-audit-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">id：</label>
            <div class="layui-input-block">
                <input type="text" name="id" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">审核：</label>
            <div class="layui-input-block">
                <input type="radio" name="payType" value="1" title="待支付">
                <input type="radio" name="payType" value="2" title="已支付">
                <input type="radio" name="payType" value="3" title="申请退款">
                <input type="radio" name="payType" value="4" title="已退款">
            </div>
        </div>


        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="payment-audit-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['jquery', 'febs', 'form', 'validate', 'laydate'], function () {
        var $ = layui.jquery,
            febs = layui.febs,
            form = layui.form,
            payment = [[${payment}]],
            $view = $('#payment-audit'),
            validate = layui.validate;
        var laydate = layui.laydate;


        form.verify(validate);
        form.render();

        initpaymentValue();


        function initpaymentValue() {
            form.val("payment-audit-form", {
                "id": payment.id,
                "payType": payment.payType

            });
        }

        form.on('submit(payment-audit-form-submit)', function (data) {
            febs.post(ctx + 'payment/audit', data.field, function () {
                layer.closeAll();
                febs.alert.success('审核成功');
                $('#febs-payment').find('#query').click();
            });
            return false;
        });

    });
</script>